<template>
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <router-link
            class="navbar-brand"
            to="/"
        >
          Тестовое СТЦ
        </router-link>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <template v-if="!isAuth">
              <li class="nav-item">
                <router-link
                    class="nav-link active"
                    to="/"
                >
                  Регистрация
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                    class="nav-link active"
                    to="/login"
                >
                  Вход
                </router-link>
              </li>
            </template>
            <li
                v-if="isAuth"
                class="nav-item"
            >
              <button
                  @click="logoutHandler"
                  class="btn btn-outline-dark"
              >
                Выйти
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script setup>
import {useStore} from 'vuex'
import {computed} from 'vue'
import {useRouter} from 'vue-router'
import routesNames from '@/router/routesNames'

const router = useRouter()
const store = useStore()
const isAuth = computed(() => store.getters['authModule/authState'])

const logoutHandler = async () => {
  await store.dispatch('authModule/logout')
  await router.push({name: routesNames.login})
}

</script>
