<template>
  <h1>Личный кабинет</h1>
  <hr>
  <div class="mb-3">
    <b>Имя:</b> {{ authUser?.name }}
  </div>
  <div class="mb-3">
    <b>Логин:</b> {{ authUser?.login }}
  </div>
  <div class="mb-3">
    <b>Эл. почта:</b> {{ authUser?.email }}
  </div>
  <div class="mb-3">
    <b>Дата регистрации:</b> {{ new Date(authUser?.createdAt).toLocaleString('ru') }}
  </div>
</template>

<script setup>
import {useStore} from 'vuex'
import {computed} from 'vue'

const store = useStore()

const authUser = computed(() => store.getters['authModule/authUser'])
</script>