<template>
  <div class="card col-md-4 mx-auto">
    <div class="card-header">
      <h1 class="card-title h4 mb-0">Авторизация</h1>
    </div>
    <form @submit.prevent="submitHandler">
      <div class="card-body">
        <div
            v-if="authError"
            class="alert alert-danger"
            role="alert"
        >
          {{ authError }}
        </div>
        <div
            v-for="field in formFields"
            :key="field.name"
            class="form-group mb-3"
        >
          <label
              :for="field.name"
              class="form-label"
          >
            {{ field.label }}
          </label>
          <input
              v-model="v$.form[field.name].$model"
              :type="field.type"
              :id="field.name"
              class="form-control"
              :class="{'is-invalid': v$.form[field.name].$error}"
          >
          <div
              v-if="v$.form[field.name].$error"
              class="invalid-feedback"
          >
            {{ v$.form[field.name].$silentErrors[0].$message }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
            type="submit"
            class="btn btn-success"
        >
          Войти
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>
import {computed, reactive, ref} from 'vue'
import useVuelidate from '@vuelidate/core'
import {required} from '@/helpers/vValidators'
import inputTypes from '@/helpers/inputTypes'
import {useRouter} from 'vue-router'
import routesNames from '@/router/routesNames'
import { useStore } from 'vuex'

const router = useRouter()
const store = useStore()

const formFields = [
  {
    name: 'email',
    label: 'Введите электронную почту или логин',
    type: inputTypes.TEXT
  },
  {
    name: 'password',
    label: 'Пароль',
    type: inputTypes.PASSWORD
  }
]

const form = reactive({
  email: null,
  password: null
})

const authError = computed(() => {
  const error = store.getters['authModule/authError']
  if(error?.response?.status === 401) {
    return error?.response?.data?.message
  }
  return null
})

const validationRules = ref({
  form: {
    email: {
      required
    },
    password: {
      required
    },
  }
})

const v$ = useVuelidate(validationRules, {form})

const submitHandler = async () => {
  try {
    v$.value.$touch()
    if (!v$.value.$error) {
      await store.dispatch('authModule/login', form)
      console.log(authError.value)
      if (!authError.value) {
        await router.push({name: routesNames.dashboard})
      }

    }
  } catch (error) {
    console.error(error)
  }
}
</script>