<template>
  <div class="card col-md-4 mx-auto">
    <div class="card-header">
      <h1 class="card-title h4 mb-0">Регистрация</h1>
    </div>
    <form @submit.prevent="submitHandler">
      <div class="card-body">
        <div
            v-if="authError"
            class="alert alert-danger"
            role="alert"
        >
          {{ authError }}
        </div>
        <div
          v-for="field in formFields"
          :key="field.name"
          class="form-group mb-3"
        >
          <label
              :for="field.name"
              class="form-label"
          >
            {{ field.label }}
          </label>
          <input
              v-model="v$.form[field.name].$model"
              :type="field.type"
              :id="field.name"
              class="form-control"
              :class="{'is-invalid': v$.form[field.name].$error}"
          >
          <div
              v-if="v$.form[field.name].$error"
              class="invalid-feedback"
          >
            {{ v$.form[field.name].$silentErrors[0].$message }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
            type="submit"
            class="btn btn-success"
        >
          Регистрация
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>
import {computed, reactive, ref} from 'vue'
import useVuelidate from '@vuelidate/core'
import {required, email, minLength, maxLength, letters, sameAsPassword} from '@/helpers/vValidators'
import inputTypes from '@/helpers/inputTypes'
import {useRouter} from 'vue-router'
import routesNames from '@/router/routesNames'
import { useStore } from 'vuex'

const router = useRouter()
const store = useStore()

const formFields = [
  {
    name: 'name',
    label: 'Имя',
    type: inputTypes.TEXT,
  },
  {
    name: 'login',
    label: 'Логин',
    type: inputTypes.TEXT
  },
  {
    name: 'email',
    label: 'Электронная почта',
    type: inputTypes.EMAIL
  },
  {
    name: 'password',
    label: 'Пароль',
    type: inputTypes.PASSWORD
  },
  {
    name: 'passwordConfirm',
    label: 'Подтверждение пароля',
    type: inputTypes.PASSWORD
  }
]

const form = reactive({
  name: null,
  login: null,
  email: null,
  password: null,
  passwordConfirm: null,
})

const password = computed(() => form.password)

const authError = computed(() => {
  const error = store.getters['authModule/authError']
  if(error?.response?.status === 400) {
    return error?.response?.data?.message
  }
  return null
})

const validationRules = ref({
  form: {
    name: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(50),
      letters
    },
    login: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(50)
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(50)
    },
    passwordConfirm: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(50),
      sameAs: sameAsPassword(password)
    }
  }
})

const v$ = useVuelidate(validationRules, {form})

const submitHandler = async () => {
  try {
    v$.value.$touch()
    if (!v$.value.$error) {
      await store.dispatch('authModule/registration', form)

      await router.push({name: routesNames.dashboard})

    }
  } catch (error) {
    console.error(error)
  }
}

</script>
