<template>
  <div class="app">
    <app-header />
    <app-main>
      <router-view/>
    </app-main>
  </div>
</template>

<script setup>
import AppHeader from '@/components/layout/AppHeader.vue'
import AppMain from '@/components/layout/AppMain.vue'
</script>
